/* !>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.MEDIA *1200/
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>TITLE */
@media (max-width: 1200px) {
  .content_title {
    position: relative;
  }
  .background-title {
  }
  .title__menu {
  }
  .title__img {
    margin-left: 90px;
  }
  .title__nav {
  }
  .titl__list {
  }
  .wawe {
  }
  .container-wawe {
  }
  .wawe__title {
  }
  .wawe__text {
  }
  .wawe__img {
  }

  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>TITLE */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>WAWE */

  .what-wawe {
  }
  .container-what {
    margin: 0 auto;
    width: 1070px;
  }
  .title__what {
  }
  .titl__text {
  }
  .title__decore {
  }
  .what__column {
  }
  .what__column1 {
  }
  .what__column2 {
  }
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>WAWE */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>SHCOOLL */
  .shcool {
  }
  .container-shcool {
    margin: 0 auto;
    width: 1070px;
  }
  .shcool__title {
  }
  .shcool__text {
  }
  .shcool__decore {
  }
  .shcool__terms {
    display: flex;
    justify-content: center;
  }
  .item__terms1 {
    width: 300px;
  }
  .subtitle__terms {
  }
  .img__terms {
  }
  .text__terms1 {
  }
  .subtitle__text1 {
  }
  .item__terms2 {
    width: 300px;
  }
  .text__terms2 {
  }
  .subtitle__text2 {
  }
  .item__terms3 {
    width: 300px;
  }
  .text__terms3 {
  }
  .subtitle__text3 {
  }
  .school__about {
  }
  .school__perspective {
  }
  .item__row1 {
  }
  .item__wave {
  }
  .img__row1 {
  }
  .wave__text {
  }
  .percent__columns {
  }
  .item__row2 {
  }
  .img__row2 {
  }
  .item__row3 {
  }
  .img__row3 {
  }
  .school__advantages {
  }
  .advantages__text {
  }
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>SHCOOLL */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>APEX */

  .apex {
  }
  .container__contant {
    position: relative;
    margin-left: 150px;
  }
  .title__apex {
    margin-top: -100px;
  }
  .apex__text {
    color: #ffffff;
  }
  .apex__decore {
  }
  .contant__apex {
    font-size: 18px;
    margin-top: 150px;
    line-height: 20px;
  }
  .contant__text {
    color: #ffffff;
  }
  .background-apex {
  }
  .background-apex img {
    width: 1200px;
    height: 900px;
    position: absolute;
    text-align: center;
  }

  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>APEX */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>gallery */
  .gallery {
  }
  .container-gallery {
    width: 1200px;
  }
  .title__gallery {
  }
  .gallery__text {
  }
  .gallery__decore {
  }
  .contant-gallery {
  }
  .nav-gallery {
    display: flex;
    justify-content: center;
  }
  .ul-gallery {
  }
  .grid__img {
  }
  .first__row {
  }
  .imag-1 {
  }
  .imag-2 {
  }
  .imag-3 {
  }
  .second__row {
  }
  .imag-4 {
  }
  .imag-5 {
  }
  .imag-6 {
  }
  .button-gallery {
  }
  .frame-btn {
  }
  .btn__text {
  }

  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>gallery */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>Quote */
  .quote {
  }
  .container-quote {
  }
  .quote__text {
  }
  .qoute__author {
  }
  /* >>>>>>>>>>>>>>>>>>>>>>>>>Quote */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>VIDEO */
  .video {
  }
  .container-video {
    width: 1070px;
  }
  .contant__video {
    display: flex;
    justify-content: center;
  }
  .container-video img {
    width: 99%;
  }
  .subtatil__video {
  }
  .item1 {
  }
  .item__title {
  }
  .item__text {
  }
  .item2 {
  }
  .item3 {
  }
  .item4 {
  }
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>VIDEO */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>..BLOG */
  .blog {
  }
  .container-blog {
  }
  .blog__title {
  }
  .blog__text {
  }
  .blog__decore {
  }
  .wrapper__blog {
    background: url("/WAWE/WAVE/img/Rectangle\ 103.png") 50%;
  }
  .contant__blog {
    padding-left: 600px;
  }
  .text__blog {
  }
  .subtitle__blog {
  }
  .decor__blog {
  }
  .img__blog {
  }

  /* >>>>>>>>>>>>>>>>>>>>>>>>>..BLOG */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>TEAM */
  .team {
  }
  .container-team {
    width: 1070px;
  }
  .team__title {
    margin-left: 150px;
  }
  .team__text {
  }
  .team__decor {
  }
  .contant__team {
    width: 1200px;
    gap: 60px;
  }
  .item__trainer1 {
  }
  .foto__trainer {
  }
  .name__trainer {
  }
  .job__titl {
  }
  .item__trainer2 {
  }
  .item__trainer3 {
  }
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>TEAM */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>services */
  .services {
  }
  .container-services {
    width: 1070px;
  }
  .title__services {
  }
  .services__text {
  }
  .services__decore {
  }
  .wprapper__item {
  }
  .item__bloc {
    padding: 42px 27px 42px 27px;
  }
  .contant__item {
  }
  .contant__item ul {
    margin-top: 45px;
  }
  .prise__bloc {
  }

  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>services */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MAP */
  .map {
    height: 700px;
    width: 1070px;
  }
  .contant-map {
    margin-top: 170px;
    display: flex;
    justify-content: center;
  }
  .contant-map img {
    margin-left: 70px;
    width: 99%;
  }
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MAP */
  /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>application */
  .application {
    height: 1100px;
  }
  .container-application {
    margin: 0 auto;
    width: 1070px;
  }
  .title__contant {
  }
  .title__application {
  }
  .application__text {
  }
  .application__decore {
  }
  .form__container {
  }
  .form__contant {
  }
  .input {
  }
  .input-form {
  }
  .input__area {
  }
  .textare__form {
  }
  .block-button {
  }
  .form-button {
  }
  .form__text {
  }
  .text__wrapper {
    margin: 49px 120px 71px 52px;
  }
  .link__container {
  }
  .contant__link {
  }
  .link-instagramm {
  }
  .link-facebook {
  }
  .link-youtube {
  }
}
